html {
  margin: 0;
}

body {
  margin: 0;
}

body > * {
  visibility: hidden;
}

body > .error {
  visibility: visible;
  background: #d8d8d8;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.error h3 {
  background: maroon;
  color: white;
  margin: 0px;
  padding: 10px;
}

.error pre {
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 10px;
  display: flex;
  flex-grow: 1;
}
